/* Подключаем шрифты */
@font-face {
    font-family: 'Heebo';
    src: url("./fonts/Heebo-Light.woff2") format('woff2');
    font-weight: 300;
    font-style: normal;

    /* font-display: swap; - оно говорит браузеру сначала показать текст с запасным (системным) шрифтом,
     а как только нужный веб-шрифт догрузится — заменить его на правильный. */
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url("./fonts/Heebo-Bold.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yantramanav';
    src: url("./fonts/Yantramanav-Bold.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


/* Создаем переменные */
:root {
    --color-dark: #000000;
    --color-light: #FFFFFF;
    --color-dark-gray: #404040;
    --color-light-gray: #C4C4C4;
    --color-dark-alternate: #131619;

    --border-radius: 30px;
    --border: 1px solid var(--color-light);

    /* sans-serif - фоллбэк, запасной шрифт, если указанный шрифт не подгрузится */
    --font-family-base: 'Heebo', sans-serif;
    --font-family-accent: 'Yantramanav', sans-serif;

    --input-height: 54px;
    --container-width: 1300px;

    /* Переменная для горизонтальных внутренних отступов, чтобы при уменьшении ширины экрана контент не слипался с краями */
    --container-padding-x: 15px;

    --transition-duration: 0.2s;
}

body {
    font-family: var(--font-family-base), sans-serif;
    background-color: var(--color-dark);

    /* Зафиксируем цвет размер и начертание основного (часто-встречающегося) шрифта */
    color: var(--color-light-gray);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.75;
}

a,
button,
input,
textarea,
svg * {
    /* svg * - все дочение элементы внутри svg */
    transition-duration: var(--transition-duration);
}

a {
    color: var(--color-light);
}

a:hover {
    color: var(--color-light-gray);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    /* Максимальная ширина контейнера равна ширине контента плюс суммарные горизонтальные отступы слева и справа */
    /* Получим реальное ограничение ширины сетки в 1300px */
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);

    /* margin-inline и padding-inline нужны для того, чтобы задавать отступы слева и справа (по горизонтали) в
    логическом направлении письма — то есть так, чтобы код автоматически подстраивался под разные языки и направления текста. */
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    text-transform: uppercase;
}

.button {
    display: inline-flex;
    align-items: center;
    padding-inline: 26px;
    height: 38px;
    font-size: 12px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    background-color: var(--color-light);
    border: none;
    border-radius: var(--border-radius);
    white-space: nowrap;
}

.button:hover {
    background-color: var(--color-light-gray);
    transition-duration: var(--transition-duration);
}

/* Хедер */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 32px;
    /* Для того чтобы элементы не слипались при сжатии экрана */
    column-gap: 20px;
    background-color: var(--color-dark-alternate);
}

.header-logo {
    flex-shrink: 0;
}

.header-menu-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
}

.header-menu-link {
    /* Увеличим область нажатия по ссылке. Поскольку ссылка inline элемент нам нужно сделать: */
    display: inline-flex;
    align-items: center;
    column-gap: 7px;
    height: 90px;

    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.2px;
}

/* header-menu-link содержащий is-currnet */
.header-menu-link.is-current::after {
    content: "";
    width: 5px;
    /* Если ширина и высота элемента одинаковы мы можем прописать это свойство. Оно делает пропорции один к одному */
    aspect-ratio: 1;
    /* Ссылается на значение в свойстве color, оно наследуется */
    background-color: currentColor;
    border-radius: 50px;
}

.header-actions {
    display: flex;
    column-gap: 40px;
}

.header-burger-button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 4px;
    width: 40px;
    aspect-ratio: 1;
    padding-left: 8px;
    background-color: transparent;
    border: var(--border);
    border-radius: 50%;
    color: var(--color-light);
}

.header-burger-button:hover {
    color: var(--color-light-gray);
    /* Почему тут курент колор серый? */
    border-color: currentColor;
}

.header-burger-button-line {
    width: 6px;
    height: 1px;
    background-color: currentColor;
    box-shadow: 16px 0 0 currentColor;
}


/* Адаптив */
@media (max-width: 1024px) {
    .header {
        /* Чтобы во флекс контейнере внутренние элементы могли пребрасываться на новые строки */
        flex-wrap: wrap;
        padding-top: 20px;
        row-gap: 10px;
        padding-inline: 15px;
    }

   .header-menu {
       /* Для того чтобы элемент встал в самый конец */
       order: 1;
       /*
           flex-basis: 100%; задаёт исходный размер flex-элемента вдоль главной оси (main axis) —
           до того, как применяются flex-grow или flex-shrink.
           Если у контейнера display: flex с направлением по горизонтали (flex-direction: row), то
           flex-basis: 100% означает, что элемент будет занимать всю ширину контейнера.
        */
       flex-basis: 100%;
   }

   .header-menu-link {
       height: 50px;
   }
}

@media (max-width: 767px) {
    .button {
        padding-inline: 18px;
    }

    .header {
        padding-top: 10px;
    }

    .header-menu-list {
        column-gap: 24px;
    }

    .header-menu-link {
        height: 32px;
    }

    .header-actions {
        column-gap: 15px;
    }
}



















